[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "AtmChile"]
	path = AtmChile
	url = https://github.com/franciscoxaxo/atmchile
	shallow = true
	registered = true
